body {
    background-color: rgb(44, 44, 144);
    /* White text color */
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    /* Align frequcy in center  */
    text-align: center;
}

.radio {
    /* radio dimenstions */
    width: 300px;
    height: 200px;
    background: linear-gradient(to bottom, #b5651d, #8b4513);
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    padding: 10px;
}

.antenna {
    width: 4px;
    height: 100px;
    background-color: lightgray;
    position: absolute;
    top: -100px;
    left: 20px;
}

.screen {
    background-color: rgba(49, 49, 49, 1);
    border-radius: 1ch;
    /* Make box bigger height */
    padding: 10px;
    /* Push beaverhacks text down */
    margin-bottom: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}