body {
    background-color: rgb(65, 65, 152);
    /* White text color */
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    /* Align frequcy in center  */
    text-align: center;
}

.radio {
    /* radio dimenstions */
    width: 300px;
    height: 200px;
    background: linear-gradient(to bottom, #b5651d, #8b4513);
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    padding: 10px;
}

.antenna {
    width: 4px;
    height: 100px;
    background-color: lightgray;
    position: absolute;
    top: -100px;
    left: 20px;
}

.screen {
    background-color: rgba(49, 49, 49, 1);
    border-radius: 1ch;
    /* Make box bigger height */
    padding: 10px;
    /* Push beaverhacks text down */
    margin-bottom: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.frequency {
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 255, 0, 1);
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.badge {
    /* Set position so that it is centered within container */
    position: relative;
    background: linear-gradient(135deg, #d4af37, #f9d423);
    border-radius: 4px;
    padding: 12px 18px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.light-streak {
    position: absolute;
    top: 0;
    left: 0;
    /* 100% fit size of container */
    width: 100%; /* fit content%*/
    height: 100%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
}

.dial {
    width: 40px;
    width: 40px;
    background: #444;
    border-radius: 50%;
    position: relative;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.dial:before {
    content: '';
    width: 6px;
    height: 20px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    border-radius: 3px;
}

/* left dial color */
.tuning {
    border: 2px solid #f00;
}

/* Right dial color */
.volume {
    border: 2px solid #00f;
}

/* Speaker / grille  */
.speaker {
    background: #444;
    border-radius: 10px;
    padding: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    /* remove this to get a more normal border  */
    background: repeating-linear-gradient(
        315deg,
        #333,
        #333 5px,
        #555 5px,
        #555 10px
    );
}

.grille {
    width: 100%;
    height: 80px;
    background: repeating-linear-gradient(
        45deg,
        #333,
        #333 5px,
        #555 5px,
        #555 10px
    );
    border-radius: 5px;
}

.footer {
    margin-top: 20px;
    font-size: 14px;
    display: flex;
    justify-content: center;
}